@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/image.css");
@import url("components/card.css");

h1

{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
}
h2
{
	position: center;
}



h2
{
	font-family: 'Lora', sans-serif;
	font-weight: bold;
	font-size: 16px;
}
